{% extends "../base.html" %}


{% block content %}
<div class="d-flex justify-content-between mb-3">
    <h3>Posts list</h3>
   <button  class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal">Add new post</button>
</div>
 <table class="table">
    <thead class="bg-dark text-light">
      <tr>
        <th scope="col">Post id</th>
        <th scope="col">Created by</th>
        <th scope="col">Title</th>
        <th scope="col">Created date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
      <tbody>
        
      {% for post in posts %}
      <tr>
        <th scope="row">{{post.id}}</th>
        <td>{{post.user}}</td>
        <td>{{post.title}}</td>
        <td>{{post.created_date}}</td>
        <td class="d-flex ">
          <a class="btn btn-dark" href="{% url 'updatePost' post.pk %}"><i class="fa fa-edit"></i></a>
          <p>  ¦ </p>
          <a class="btn btn-danger"  href="{% url 'deletePost' post.pk %}"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    
      </tbody>
    </table>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a new post</h4>
            <button type="button" class="btn btn-close" data-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <form action="#" method="post">
              {% csrf_token %}
              {{form.as_p}}

              <button class="btn btn-primary">Created</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
{% comment %} {% for post in posts %} {% endcomment %}

    {% comment %} <div>
       <h3>Id: {{post.id}} </h3>

       <a href="{% url 'details' post.id %}"> <h2> {{ post.title}} </h2></a>

        
        <small> Created date: {{post.created_date}} </small>

    </div>
<br>
<hr>  {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
{% endblock content %}